h1 {
  text-align: center;
}

.mat-elevation-z8 {
  margin: 0 30%;
}

form {
  padding: 1rem;
}

section {
  margin-bottom: 1rem;
}

mat-form-field {
  display: block;
}

mat-slider {
  width: 100%;
}
